<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('head'); %> 
  <link rel="stylesheet" href="/css/news.css">
  <title>news:hair-salon</title>
</head>
<body>
  <%- include('header'); %> 
  
  <main>
    <div class="top cantainer">
      <h1 class="top-title">News</h1>
    </div>

    <% news.forEach(item => { %>
      <article class="news container reveal" id="<%= item.id %>">
        <h2 class="news-title"><%= item.title %></h2>
        <div class="news-contents">
          <%- item.comment %>
        </div>
        <% if(item.image){ %> 
          <img src="<%- item.image %>"> 
        <% } %> 
      </article>
    <% }); %>
  </main>

  <%- include('footer'); %> 

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="js/style.js"></script>
</html>